{
  default_sni {$RELAY_ADDRESS}
}

{$RELAY_ADDRESS} {
  encode zstd gzip
  tls {
    issuer acme https://acme-v02.api.letsencrypt.org/directory {
      profile shortlived
    }
  }
  reverse_proxy relay:3000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    -Server
  }
  log {
    output stdout
    format json
  }
}
